.title__tratamientos {
  text-transform: capitalize;
  color: black;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.card {
  height: 250px;
  width: 300px;
  margin: 50px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  p {
    font-size: 15px;
    margin: 10px;
    visibility: hidden;
    opacity: 0;
    text-align: center;
  }
  .intro {
    height: 70px;
    width: 300px;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    background: rgb(27, 27, 27, 0.5);
    color: white;
    transition: 0.8s;
  }
  img {
    height: 250px;
    width: 290px;
    border-radius: 3px;
  }
  &:hover {
    cursor: pointer;
    .intro {
      height: 0;
      bottom: 200px;
      background: black;
    }
    p {
      opacity: 1;
      visibility: visible;
      background: rgb(27, 27, 27, 0.5);
    }
    img {
      transform: scale(1.1) rotate(-3deg);
    }
  }
}

.card.title {
  margin: 10px;
  font-size: 40px;
}
