* {
  margin: 0;
  padding: 0;
}
.nav__list {
  list-style-type: none;
  display: flex;
  margin: 1rem;
  justify-content: space-between;
}
.navbar {
  padding: 2rem;
  background-color: #60bc04;
  margin: 1rem;
  grid-area: nav;
}
.nav-link {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}
.navbar ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}
.navbar ul li a:hover {
  background: #036b24;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
body {
  font-family: "merriweather", sans-serif;
  margin: 0;
}
header {
  background-color: #60bc04;
  padding: 0.5rem 0;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav__link {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}
img {
  max-width: 85%;
}
.title {
  text-transform: capitalize;
  color: black;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
}
.cont {
  text-transform: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem;
} /* segundo texto del index*/
body {
  background-color: antiquewhite;
}
footer {
  background-color: black;
}
.footer__ {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}
.footer__ a {
  color: white;
}
.footer__ a i {
  font-size: 2rem;
}
.footer__icon {
  text-align: center;
}
/* comienza pag tratatamientos*/
.title__tratamientos {
  text-transform: capitalize;
  color: black;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.card {
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  background: whitesmoke;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: transform 500ms ease;
}
/*.intro {
   box-sizing: border-box;
  position: absolute;
  background: rgb(27, 27, 27, 0.5);
  color: white;
  bottom: 240px;
}*/
.card.img {
  max-width: 100%;
  align-self: center;
}
.card.content {
  background: linear-gradient(black, rgba(0, 0, 0, 0.5));
  transform: translateY(65%);
  transition: transform 500ms ease;
}
.card:hover .card.content {
  transform: translateY(0);
  transition-delay: 500ms;
}
/* contactenos*/
.form {
  max-width: 50%;
  padding: 7rem;
  margin: 7rem;
  background-color: rgb(225, 222, 222);
  border-color: black;
  border-style: double;
  position: relative;
  left: 200px;
}
.legend {
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
}
.form__text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}
.form__textarea {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}
.form__botom {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}
.form__sex {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}
/*nosotros*/
.map {
  max-width: 50%;
  padding: 7rem;
  margin: 6rem;
  position: relative;
  left: 350px;
}
.bioImg {
  height: 400px;
  position: relative;
  left: 400px;
}

/*depilacion*/
#container__table {
  margin: 200px auto;
  width: 600px;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
}
table {
  width: 100%;
  background-color: white;
  text-align: left;
  border-collapse: collapse;
}
th,
td {
  padding: 20px;
  border-collapse: collapse;
}
th {
  background-color: #246355;
  border-bottom: solid 5px #0f362d;
  color: white;
}
tr {
  border-bottom: solid 1px gray;
}
